body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(135deg, #cdb4db, #a2d2ff, #ffc8dd);
  color: #333;
}

header {
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.container {
  padding: 15px;
}

.card {
  background: rgba(255,255,255,0.75);
  margin: 12px 0;
  padding: 15px;
  border-radius: 18px;
}

a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  background: #a2d2ff;
  padding: 8px 12px;
  border-radius: 10px;
  color: black;
}
button {
  background: #ffc8dd;
  border: none;
  padding: 10px;
  border-radius: 10px;
}